<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <form class="form-inline" action="#" th:action="@{/search}" method="POST">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search"
               required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Artists</h1>
        <div class="row">
            <div class="col-sm-4" th:each="artist:${artists}">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="min-height: 8rem">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${artist.getName()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Songs</h1>
        <div class="row">
            <div class="col-sm-4" th:each="song:${songs}">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="min-height: 8rem">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${song.getSongName()}"></h5>
                        <p class="card-text" th:text="${song.getArtistName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Genres</h1>
        <div class="row">
            <div class="col-sm-4" th:each="genre:${genres}">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="min-height: 8rem">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${genre.getGenreName()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
